@using EntityLayer.Concrete;
@model AccountCardSubGroup
@{
    ViewData["Title"] = "AddCardSubGroup";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Hesap Kart Alt Grup Ekleme Formu</h1>
<div class="content-page">
    <div class="content">

        <!-- Start Content-->
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="card-box">

                        <div class="row">
                            <div class="col-lg-6">

                                <h4 class="header-title">Yeni Hesap Kart Alt Grup Ekleme</h4>

                                <div class="p-4">
                                    <form asp-controller="AccountCardSubGroup" asp-action="AddCardSubGroup" method="post" data-parsley-validate novalidate>
                                        <div class="form-group">
                                            <label for="Name">Alt Grup Adı</label>
                                            <input asp-for="Name" type="text" name="Name" parsley-trigger="change" required placeholder="Alt Grup Adı" class="form-control" id="Name" />
                                        </div>


                                        <div class="form-group text-right mb-0">
                                            <button class="btn btn-primary waves-effect waves-light" type="submit">
                                                Yeni Hesap Kart Alt Grup Ekle
                                            </button>

                                        </div>

                                    </form>
                                    <a asp-controller="AccountCardSubGroup" asp-action="Index" class="btn btn-outline-orange btn-rounded waves-light waves-effect width-md"> Hesap Kart Alt Grup Listesine Geri Dön</a>

                                </div>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


